@using ApexCharts;
@using Blazor_ApexCharts;
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

@using Models;
@inject APIService APIService

@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


@if (roomsAPI == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Room number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in roomsAPI)
            {
                <tr>
                    <td style="cursor:pointer" @onclick="(() =>  GoToRoom(item.ID))">@item.Roomnr</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Room>? roomsAPI;

    protected override async Task OnInitializedAsync()
    {


        await APICall();
    }

    public void GoToRoom(int roomId)
    {
        if (roomId != 0)
        {
            navigationManager.NavigateTo($"/sensordata/{roomId}");
        }
    }

    private async Task APICall()
    {
        roomsAPI = await APIService.GetRooms();
    }
}